@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Joel Hilton's Movies</h1>
    <br />
    <br />
    <img src="~/Joel_Hilton.jpg" class="align-items-md-center" />
</div>
